.img {
    filter: blur(3px);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    transition: 0.7s var(--default-bezier-start);
}

.img:hover {
    filter: blur(0px);
    background-size: cover;
    background-position: center;
    transition: 0.3s var(--default-bezier-start);
}

.img-default {
    background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
}

.nav-hide {
    position: fixed;
    top: -40px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.6s var(--default-bezier-nav-end);
}

.nav-hide:hover>.nav>.navbox>.nav-o {
    opacity: 1;
    filter: blur(0px);
    transition: 0.3s var(--default-bezier-start);
}

.nav-hide:hover {
    top: 0;
    transition: 0.5s var(--default-bezier-nav-start);

}

.nav {
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    backdrop-filter: blur(20px)saturate(180%);
    background-color: var(--box-white-1);
    width: 50%;
    min-width: 300px;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: var(--shadow-3) 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s var(--default-bezier-apple-nav);
}


.navline {
    background-color: var(--box-black-4);
    position: absolute;
    pointer-events: none;
    bottom: 7.5px;
    width: 10%;
    height: 5px;
    border-radius: 100px;
}

.navbox {
    margin: 0 15px;
    width: 100%;
    z-index: 1;
}

.navtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    max-width: 250px;
}

.nav-o {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    filter: blur(5px);
    transition: 0.3s var(--default-bezier-end);
}

.message-a {
    border-radius: 20px;
    transition: all 0.5s var(--default-bezier-end);
    z-index: -1;
}

.message {
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    backdrop-filter: blur(20px)saturate(180%);
    background-color: var(--box-white-1);
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: var(--shadow-3) 0px 0px 10px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    animation-timing-function: var(--default-bezier-start);
    animation-name: message;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-delay: 2s;
    transition: all 0.3s var(--default-bezier-end);
}

.message-a:hover {
    transition: all 0.3s var(--default-bezier-start);
}

.message-a:active {
    box-shadow: var(--shadow-1) 0px 0px 15px;
    transition: all 0.2s var(--default-bezier-start);
}

.message-a:hover>.message {
    box-shadow: var(--shadow-1) 0px 0px 15px;
    transition: all 0.4s var(--default-bezier-start);
}

.message-a:active>.message {
    box-shadow: var(--shadow-1) 0px 0px 15px;
    transition: all 0.3s var(--default-bezier-start);
}

.message-text {
    animation-name: message-text;
    animation-timing-function: var(--default-bezier-start);
    animation-name: message-text;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@keyframes message {
    0% {
        transform: translateY(-50px);
        opacity: 0.25;
        width: 20px;
    }

    10% {
        transform: translateY(0px);
        width: 200px;
        opacity: 1;
        padding: 5px 10px;
    }

    20% {}

    30% {}

    40% {}

    40% {}

    60% {}

    70% {}

    80% {}

    90% {
        width: 200px;
        opacity: 1;
        padding: 5px 10px;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        width: 20px;
        transform: translateY(-50px);
    }
}

@keyframes message-text {
    0% {
        filter: blur(5px);
        color: var(--opacity);
    }

    10% {
        filter: blur(0px);
        color: unset;
    }

    20% {}

    30% {}

    40% {}

    40% {}

    60% {}

    70% {}

    80% {}

    90% {
        filter: blur(0px);
        color: unset;
    }

    100% {
        filter: blur(5px);
        color: var(--opacity);
    }
}

.bluebox:hover, .more:hover, .download-url:hover, .download-url-out:hover, .download-box:hover, .message-a:hover {
    transform: scale(105%);
}

.bluebox:active, .more:active, .download-url:active, .download-url-out:active {
    transform: scale(95%);
    filter: blur(2px);
    opacity: 75%;
}

.message-a:active {
    transform: scale(95%);
    background-color: transparent;
}

.bluebox {
    background-color: var(--default-color);
    border-radius: 5px;
    color: var(--text-white);
    min-width: 20px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transition: all 0.5s var(--default-bezier-end);
}

.bluebox:hover {
    background-color: var(--default-color-focus);
    box-shadow: 0 0 5px var(--default-color-shadow);
    transition: all 0.4s var(--default-bezier-start);
}

.bluebox:active {
    background-color: var(--default-color-focus);
    box-shadow: 0 0 5px var(--default-color-shadow);
    transition: all 0.3s var(--default-bezier-start);
}

.bluebox-no {
    background-color: var(--default-color);
    opacity: 0.5;
    border-radius: 5px;
    color: var(--text-white);
    min-width: 20px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transition: all 0.5s var(--default-bezier-end);
}

.whitebox {
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    backdrop-filter: blur(20px)saturate(180%);
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 20px var(--shadow-3);
    max-width: 641.31px;
    width: 75%;
    padding: 25px 25px 65px 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    transition: 0.3s var(--default-bezier-end);
}

.whitebox:hover {
    background-color: var(--box-white-3);
    box-shadow: 0px 7px 15px var(--shadow-1);
    transition: 0.3s var(--default-bezier-start);
}

.more-list {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.more {
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    backdrop-filter: blur(20px)saturate(180%);
    border-radius: 100%;
    margin-top: 25px;
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 20px var(--shadow-3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.3s var(--default-bezier-end);
}

.more:hover {
    background-color: var(--box-white-3);
    box-shadow: 0px 10px 15px var(--shadow-1);
    transition: 0.3s var(--default-bezier-start);
}

.more:active {
    background-color: var(--box-white-5);
    box-shadow: 0px 10px 15px var(--shadow-1);
    transition: 0.3s var(--default-bezier-start);
}

.download-url-box {
    position: absolute;
    margin: 20px;
    bottom: 0;
    right: 0;
    display: flex;
}

.download-url-box-out {
    -webkit-backdrop-filter: blur(20px)saturate(180%);
    backdrop-filter: blur(20px)saturate(180%);
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 15px var(--shadow-3);
    border-radius: 100px;
    padding: 10px;
    width: 35%;
    max-width: 498.09px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s var(--default-bezier-start);
}

.download-url-box-out:hover {
    background-color: var(--box-white-3);
    box-shadow: 0px 10px 10px var(--shadow-1);
    transition: 0.3s var(--default-bezier-start);
}

.download-url-out {
    padding: 6px 10px;
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 10px var(--shadow-3);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    transition: 0.5s var(--default-bezier-start);
}

.download-url-out:hover {
    background-color: var(--box-white-3);
    box-shadow: 0px 5px 5px var(--shadow-1);
    transition: 0.5s var(--default-bezier-start);
}

.download-url-out:active {
    background-color: var(--box-white-5);
    box-shadow: 0px 5px 5px var(--shadow-1);
    transition: 0.3s var(--default-bezier-start);
}

.download-url {
    margin-left: 25px;
    padding: 6px 10px;
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 15px var(--shadow-3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: 0.5s var(--default-bezier-start);
}

.download-url:hover {
    background-color: var(--box-white-4);
    box-shadow: 0px 5px 10px var(--shadow-1);
    transition: 0.5s var(--default-bezier-start);
}

.download-url:active {
    background-color: var(--box-white-5);
    box-shadow: 0px 5px 10px var(--shadow-1);
    transition: 0.2s var(--default-bezier-start);
}

.download-box {
    width: 100%;
    border-radius: 20px;
    background-color: var(--box-white-2);
    box-shadow: 0px 5px 15px var(--shadow-4);
    transition: 0.5s cubic-bezier(.39, .3, .14, 1);
}

.download-box:hover {
    box-shadow: 0px 10px 10px var(--shadow-3), 0px 0px 10px var(--shadow-5);
    transition: 0.3s cubic-bezier(.39, .3, .14, 1);
}

.download-margin {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.download-img {
    width: 10px;
    height: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    transition: 0.7s var(--default-bezier-ios-end);
}

.download-img:hover {
    top: 25px;
    transform: translateY(-50px);
    margin-bottom: -95px;
    width: 85%;
    height: 12vw;
    box-shadow: 0px 5px 10px var(--shadow-5);
    transition: 1.2s var(--default-bezier-ios-start);
}

.download-img-color {
    border-radius: 15px;
    border: 0px solid var(--default-color);
    background: var(--default-color);
    width: 100%;
    height: 100%;
    transition: 0.3s var(--default-bezier-start);
}

.download-img-color:hover {
    box-sizing: border-box;
    border: 5px solid var(--default-color);
    background-color: var(--default-color-opacity);
}

.download-text {
    margin-bottom: 10px;
}

.right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}